# header
snippet #!2 "Shebang header for python2 scripts" b
#!/usr/bin/env python2
# -*- coding: utf-8 -*-

from __future__ import absolute_import, division, print_function
$0
endsnippet

snippet #!3 "Shebang header for python3 scripts" b
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
$0
endsnippet

# imports
snippet __f "__future__ future imports" b
from __future__ import absolute_import, division, print_function
$0
endsnippet
